In [3]:

import numpy as np
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd


sns.set_style('darkgrid')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

coffee_file = '/Users/roshkhadka/Desktop/DSI-SF-4-Rashimk/datasets/coffee_preferences/coffee-preferences.csv'
df = pd.read_csv(coffee_file)

In [4]:
df.head()

,Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
0,3/17/2015 18:37:58,Alison,3,5,4.0,3.0,NaN,NaN,5.0,5.0,NaN
1,3/17/2015 18:38:09,April,4,5,5.0,3.0,NaN,NaN,3.0,NaN,5.0
2,3/17/2015 18:38:25,Vijay,3,5,5.0,5.0,3.0,2.0,1.0,1.0,1.0
3,3/17/2015 18:38:28,Vanessa,1,5,5.0,2.0,NaN,NaN,3.0,2.0,3.0
4,3/17/2015 18:38:46,Isabel,1,4,4.0,2.0,4.0,NaN,4.0,4.0,NaN

In [5]:
df.isnull().sum()  ##Checking

Timestamp            0
Name                 0
Starbucks            0
PhilzCoffee          0
BlueBottleCoffee     6
PeetsTea             1
CaffeTrieste        12
GrandCoffee         15
RitualCoffee         7
FourBarrel          10
WorkshopCafe         8
dtype: int64

In [ ]:
plt.

In [188]:
df = df.fillna(0)

# df.replace(np.nan, 0)

In [189]:
df["Timestamp"] = pd.to_datetime(df["Timestamp"])

df.insert(1,"year",df["Timestamp"].dt.year)
df

,Timestamp,year,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
0,2015-03-17 18:37:58,2015,Alison,3,5,4.0,3.0,0.0,0.0,5.0,5.0,0.0
1,2015-03-17 18:38:09,2015,April,4,5,5.0,3.0,0.0,0.0,3.0,0.0,5.0
2,2015-03-17 18:38:25,2015,Vijay,3,5,5.0,5.0,3.0,2.0,1.0,1.0,1.0
3,2015-03-17 18:38:28,2015,Vanessa,1,5,5.0,2.0,0.0,0.0,3.0,2.0,3.0
4,2015-03-17 18:38:46,2015,Isabel,1,4,4.0,2.0,4.0,0.0,4.0,4.0,0.0
5,2015-03-17 18:39:01,2015,India,5,3,3.0,3.0,3.0,1.0,0.0,0.0,3.0
6,2015-03-17 18:39:01,2015,Dave H,4,5,0.0,5.0,0.0,0.0,0.0,0.0,0.0
7,2015-03-17 18:39:05,2015,Deepthi,3,5,0.0,2.0,0.0,0.0,0.0,0.0,2.0
8,2015-03-17 18:39:14,2015,Ramesh,3,4,0.0,3.0,0.0,0.0,0.0,0.0,4.0
9,2015-03-17 18:39:23,2015,Hugh Jass,1,5,5.0,4.0,5.0,2.0,5.0,4.0,1.0
10,2015-03-17 18:39:23,2015,Alex,4,5,0.0,3.0,0.0,0.0,0.0,0.0,0.0
11,2015-03-17 18:39:30,2015,Ajay Anand,3,4,4.0,3.0,5.0,0.0,0.0,0.0,0.0
12,2015-03-17 18:39:35,2015,David Feng,2,3,4.0,2.0,2.0,0.0,5.0,4.0,3.0
13,2015-03-17 18:39:42,2015,Zach,3,4,4.0,3.0,0.0,0.0,0.0,0.0,5.0
14,2015-03-17 18:40:44,2015,Matt,3,5,4.0,3.0,2.0,2.0,4.0,3.0,2.0
15,2015-03-17 18:40:49,2015,Markus,3,5,0.0,3.0,0.0,0.0,4.0,0.0,0.0
16,2015-03-17 18:41:18,2015,Otto,4,2,2.0,5.0,0.0,0.0,3.0,3.0,3.0
17,2015-03-17 18:41:23,2015,Alessandro,1,5,3.0,2.0,0.0,0.0,4.0,3.0,0.0
18,2015-03-17 18:41:35,2015,Rocky,3,5,4.0,3.0,3.0,3.0,4.0,4.0,3.0
19,2015-03-17 18:42:01,2015,cheong-tseng eng,3,1,0.0,0.0,0.0,0.0,4.0,0.0,0.0

In [190]:
df_t= df.transpose()
df_t

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
Timestamp,2015-03-17 18:37:58,2015-03-17 18:38:09,2015-03-17 18:38:25,2015-03-17 18:38:28,2015-03-17 18:38:46,2015-03-17 18:39:01,2015-03-17 18:39:01,2015-03-17 18:39:05,2015-03-17 18:39:14,2015-03-17 18:39:23,2015-03-17 18:39:23,2015-03-17 18:39:30,2015-03-17 18:39:35,2015-03-17 18:39:42,2015-03-17 18:40:44,2015-03-17 18:40:49,2015-03-17 18:41:18,2015-03-17 18:41:23,2015-03-17 18:41:35,2015-03-17 18:42:01
year,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015,2015
Name,Alison,April,Vijay,Vanessa,Isabel,India,Dave H,Deepthi,Ramesh,Hugh Jass,Alex,Ajay Anand,David Feng,Zach,Matt,Markus,Otto,Alessandro,Rocky,cheong-tseng eng
Starbucks,3,4,3,1,1,5,4,3,3,1,4,3,2,3,3,3,4,1,3,3
PhilzCoffee,5,5,5,5,4,3,5,5,4,5,5,4,3,4,5,5,2,5,5,1
BlueBottleCoffee,4,5,5,5,4,3,0,0,0,5,0,4,4,4,4,0,2,3,4,0
PeetsTea,3,3,5,2,2,3,5,2,3,4,3,3,2,3,3,3,5,2,3,0
CaffeTrieste,0,0,3,0,4,3,0,0,0,5,0,5,2,0,2,0,0,0,3,0
GrandCoffee,0,0,2,0,0,1,0,0,0,2,0,0,0,0,2,0,0,0,3,0
RitualCoffee,5,3,1,3,4,0,0,0,0,5,0,0,5,0,4,4,3,4,4,4
FourBarrel,5,0,1,2,4,0,0,0,0,4,0,0,4,0,3,0,3,3,4,0
WorkshopCafe,0,5,1,3,0,3,0,2,4,1,0,0,3,5,2,0,3,0,3,0

In [191]:
# new_df = df.drop(['Timestamp', 'year', 'Name'], 0)

In [192]:
df_t['Average'] = new_df.mean(axis=1)

In [193]:
df

,Timestamp,year,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
0,2015-03-17 18:37:58,2015,Alison,3,5,4.0,3.0,0.0,0.0,5.0,5.0,0.0
1,2015-03-17 18:38:09,2015,April,4,5,5.0,3.0,0.0,0.0,3.0,0.0,5.0
2,2015-03-17 18:38:25,2015,Vijay,3,5,5.0,5.0,3.0,2.0,1.0,1.0,1.0
3,2015-03-17 18:38:28,2015,Vanessa,1,5,5.0,2.0,0.0,0.0,3.0,2.0,3.0
4,2015-03-17 18:38:46,2015,Isabel,1,4,4.0,2.0,4.0,0.0,4.0,4.0,0.0
5,2015-03-17 18:39:01,2015,India,5,3,3.0,3.0,3.0,1.0,0.0,0.0,3.0
6,2015-03-17 18:39:01,2015,Dave H,4,5,0.0,5.0,0.0,0.0,0.0,0.0,0.0
7,2015-03-17 18:39:05,2015,Deepthi,3,5,0.0,2.0,0.0,0.0,0.0,0.0,2.0
8,2015-03-17 18:39:14,2015,Ramesh,3,4,0.0,3.0,0.0,0.0,0.0,0.0,4.0
9,2015-03-17 18:39:23,2015,Hugh Jass,1,5,5.0,4.0,5.0,2.0,5.0,4.0,1.0
10,2015-03-17 18:39:23,2015,Alex,4,5,0.0,3.0,0.0,0.0,0.0,0.0,0.0
11,2015-03-17 18:39:30,2015,Ajay Anand,3,4,4.0,3.0,5.0,0.0,0.0,0.0,0.0
12,2015-03-17 18:39:35,2015,David Feng,2,3,4.0,2.0,2.0,0.0,5.0,4.0,3.0
13,2015-03-17 18:39:42,2015,Zach,3,4,4.0,3.0,0.0,0.0,0.0,0.0,5.0
14,2015-03-17 18:40:44,2015,Matt,3,5,4.0,3.0,2.0,2.0,4.0,3.0,2.0
15,2015-03-17 18:40:49,2015,Markus,3,5,0.0,3.0,0.0,0.0,4.0,0.0,0.0
16,2015-03-17 18:41:18,2015,Otto,4,2,2.0,5.0,0.0,0.0,3.0,3.0,3.0
17,2015-03-17 18:41:23,2015,Alessandro,1,5,3.0,2.0,0.0,0.0,4.0,3.0,0.0
18,2015-03-17 18:41:35,2015,Rocky,3,5,4.0,3.0,3.0,3.0,4.0,4.0,3.0
19,2015-03-17 18:42:01,2015,cheong-tseng eng,3,1,0.0,0.0,0.0,0.0,4.0,0.0,0.0

In [201]:
df.head(2)

,Timestamp,year,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe
0,2015-03-17 18:37:58,2015,Alison,3,5,4.0,3.0,0.0,0.0,5.0,5.0,0.0
1,2015-03-17 18:38:09,2015,April,4,5,5.0,3.0,0.0,0.0,3.0,0.0,5.0

In [212]:
table = pd.pivot_table(df, index=['Starbucks', 'PhilzCoffee', 'BlueBottleCoffee','PeetsTea'])

In [213]:
table

                                                 CaffeTrieste  FourBarrel  \
Starbucks PhilzCoffee BlueBottleCoffee PeetsTea
1         4           4.0              2.0           4.000000         4.0
          5           3.0              2.0           0.000000         3.0
                      5.0              2.0           0.000000         2.0
                                       4.0           5.000000         4.0
2         3           4.0              2.0           2.000000         4.0
3         1           0.0              0.0           0.000000         0.0
          4           0.0              3.0           0.000000         0.0
                      4.0              3.0           2.500000         0.0
          5           0.0              2.0           0.000000         0.0
                                       3.0           0.000000         0.0
                      4.0              3.0           1.666667         4.0
                      5.0              5.0           3.000000         1.0
4         2           2.0              5.0           0.000000         3.0
          5           0.0              3.0           0.000000         0.0
                                       5.0           0.000000         0.0
                      5.0              3.0           0.000000         0.0
5         3           3.0              3.0           3.000000         0.0

                                                 GrandCoffee  RitualCoffee  \
Starbucks PhilzCoffee BlueBottleCoffee PeetsTea
1         4           4.0              2.0          0.000000      4.000000
          5           3.0              2.0          0.000000      4.000000
                      5.0              2.0          0.000000      3.000000
                                       4.0          2.000000      5.000000
2         3           4.0              2.0          0.000000      5.000000
3         1           0.0              0.0          0.000000      4.000000
          4           0.0              3.0          0.000000      0.000000
                      4.0              3.0          0.000000      0.000000
          5           0.0              2.0          0.000000      0.000000
                                       3.0          0.000000      4.000000
                      4.0              3.0          1.666667      4.333333
                      5.0              5.0          2.000000      1.000000
4         2           2.0              5.0          0.000000      3.000000
          5           0.0              3.0          0.000000      0.000000
                                       5.0          0.000000      0.000000
                      5.0              3.0          0.000000      3.000000
5         3           3.0              3.0          1.000000      0.000000

                                                 WorkshopCafe  year
Starbucks PhilzCoffee BlueBottleCoffee PeetsTea
1         4           4.0              2.0           0.000000  2015
          5           3.0              2.0           0.000000  2015
                      5.0              2.0           3.000000  2015
                                       4.0           1.000000  2015
2         3           4.0              2.0           3.000000  2015
3         1           0.0              0.0           0.000000  2015
          4           0.0              3.0           4.000000  2015
                      4.0              3.0           2.500000  2015
          5           0.0              2.0           2.000000  2015
                                       3.0           0.000000  2015
                      4.0              3.0           1.666667  2015
                      5.0              5.0           1.000000  2015
4         2           2.0              5.0           3.000000  2015
          5           0.0              3.0           0.000000  2015
                                       5.0           0.000000  2015
                      5.0              3.0           5.000000  2015
5         3           3.0              3.0           3.000000  2015